mat-nav-list a{
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
mat-nav-list a:hover{
  background: #232834;
}
.profile-info{
  background: #1e2129;
  text-align: center;
  padding:20px 0px;
  margin-bottom: 20px;
}
.profile-info img{max-width: 100%;}
.user-img{
  width:100px;
  height:100px;
  border-radius: 50%;
  overflow: hidden;
  margin:0 auto;
}
